Package: com.skitty.dune
Name: Darker Dune
Depends: mobilesubstrate, preferenceloader
Version: 0.1.5-darker2
Architecture: iphoneos-arm
Description: A free, open-source iOS dark mode.
Maintainer: Skitty, OBEY
Author: Skitty, OBEY
Section: Tweaks
